.gridbox {
    display: grid;
    grid-template-columns: 13% 87%;
    grid-template-rows: 2fr 6fr 2fr ;
}

header {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2px;
}

main {
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2px;
}

article {
    border: 2px solid black;
    border-radius: 10px;
    margin: 2px;
}

footer {
    text-align: center;
    grid-column: 2/3;
    grid-row: 3/4;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2px;
}

nav {
    grid-column: 1/2;
    grid-row: 2/3;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2px;
}

.MDN {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 150px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
}

aside {
    grid-column: 1/2;
    grid-row: 3/4;
}